:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --roundness: 5px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.rhythm-game {
  align-content: center;
}

.game-btn-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.game-btn {
  margin: 20px 10px;
  min-height: 60px;
  min-width: 100px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  /* TODO: Make this scalable */
  display: flex;
  flex-direction: column;
}

.game-btn.submit:enabled {
  background-color: rgb(69, 161, 69);
  color: white;
}

.game-btn.delete:enabled {
  background-color: rgb(186, 87, 87);
  color: white;
}

.prompt-text {
  font-size: 30px;
}

.prompt-field {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.prompt-cell {
  font-size: 30px;
  padding: 8px 15px;
  margin: .83em 0px;
  border-radius: var(--roundness);
  background-color: rgb(255, 180, 180);
}

.prompt-cell.red {
  background-color: rgb(255, 180, 180);
}

.prompt-cell.orange {
  background-color: rgb(255, 224, 184);
}

.prompt-cell.yellow {
  background-color: rgb(255, 255, 184);
}

.prompt-cell.green {
  background-color: rgb(167, 255, 179);
}

.prompt-cell.blue {
  background-color: rgb(167, 224, 255);
}

.prompt-cell.purple {
  background-color: rgb(215, 167, 255);
}

.note-field {
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: .83em 0px;
}

.note-cell {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: rgb(234, 250, 255);
  border-radius: var(--roundness);
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.note-cell.filled {
  background-color: rgb(155, 230, 255);
}

.note-cell-label {
  display: block;
  margin-top: 0.5em;
  font-size: 20px;
  color: #555;
  min-height: 1em;
}

.labeled-item {
  display: block;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
